@media screen and (min-width: 0) {

    * {
        overflow-x: hidden;
    }

    .container {
        padding: 1rem;
        padding-right: calc(1rem - .5rem);
    }

    .cabecalho {
        display: flex;
        justify-content: space-between;
    }

    .cabecalho__logo {
        width: 9.063rem;
        height: 2.128rem;
    }

    .cabecalho__pesquisa {
        display: none;
    }

    .cabecalho__menu--mobile {
        display: inline-block;
        padding: .5rem;
    }

    .cabecalho__pesquisa--mobile {
        display: inline-block;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        box-sizing: border-box;
    }

    .cabecalho__menu--mobile {
        display: flex;
        font-size: 2rem;
        align-items: center;
        box-sizing: border-box;
        margin-left: 1.25rem;
    }

    .cabecalho__usuario {
        display: none;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
    }

    .conteudo__menu--navegacao {
        display: none;
    }

    .conteudo__menu {
        display: none;
    }

    .comunidade {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .comunidade__conteudo {
        height: 35.938rem;
    }

    .comunidade__conteudo--background {
        height: 25.125rem;
    }

    .comunidade__conteudo--tela {
        height: 22.125rem;
    }

    .comunidade__conteudo--codigo {
        height: 19.125rem;
    }

    .comunidade__conteudo--cabecalho {
        margin: 1rem 1rem;
    }

    .comunidade__informacoes {
        margin: 0 1.125rem;
    }

    .comunidade__conteudo,
    .comunidade__conteudo--titulo,
    .comunidade__conteudo--descricao,
    .comunidade__conteudo--tela,
    .cabecalho__usuario--nome,
    .numero__interacoes,
    .usuario__link--nome {
        overflow: hidden;
    }

}

@media screen and (min-width: 768px) {

    .cabecalho {
        display: flex;
        justify-content: space-between;
    }

    .cabecalho__logo {
        margin-right: 2.5rem;
        z-index: 1;
    }

    .cabecalho__pesquisa--mobile {
        display: none;
    }

    .cabecalho__pesquisa {
        display: flex;
        width: 34rem;
        max-width: 47rem;
        flex-grow: 1;
        order: 2;
    }

    .cabecalho__menu--mobile {
        order: 3;
        margin-left: 0;
    }

    .comunidade__conteudo {
        height: 32.375rem;
    }

    .comunidade__conteudo--background {
        height: 21.375rem;
    }

    .comunidade__conteudo--tela {
        height: 18.375rem;
    }

    .comunidade__conteudo--codigo {
        height: 14.625rem;
    }

    .comunidade__conteudo--cabecalho {
        margin: 1rem 1rem;
    }

    .comunidade__informacoes {
        margin: 0
    }
}



@media screen and (min-width: 992px) {

    * {
        overflow-x: hidden;
    }

    .container {
        padding: 2rem;
    }

    .cabecalho {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .conteudo__menu--navegacao {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        overflow: hidden;
    }

    .cabecalho__usuario {
        display: flex;
        order: 3;
    }

    .cabecalho__menu--mobile {
        display: none;
    }

    .conteudo {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .conteudo__menu--titulo {
        overflow: hidden;
    }

    .conteudo__menu--item {
        display: flex;
        align-items: center;
        padding: calc(1rem - 1rem) 0;
        box-sizing: border-box;
    }

    .conteudo__menu {
        display: block;
    }


    .comunidade {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .comunidade__conteudo {
        height: 25rem;
        transition: .3s;
    }

    .comunidade__conteudo--background {
        height: 18rem;
    }

    .comunidade__conteudo--tela {
        height: 15rem;
    }

    .comunidade__conteudo--codigo {
        height: 12.188rem;
    }

    .comunidade__conteudo--cabecalho {
        margin: 0;
    }

    .comunidade__informacoes {
        margin: 0;
    }

    .comunidade__conteudo:hover {
        height: 29rem;
    }
}

@media screen and (min-width: 1200px) {

    .cabecalho__pesquisa {
        width: 47rem;
    }

    .cabecalho__pesquisa {
        display: flex;
        max-width: 47rem;
    }

    .comunidade__conteudo {
        width: calc(100%);
        max-height: 25rem;
        background-color: #00000029;
        transition: .5s;
    }

    .comunidade__informacoes {
        display: none;
    }

    .comunidade__conteudo:hover {
        max-height: 29rem;
    }
    .comunidade__conteudo:hover .comunidade__informacoes{
        display: flex;  
    }

}