/* ================ Fonts Google ================ */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto+Mono&display=swap');
/* ================ Variaveis ================ */

:root {
     --azul-claro: #96b9fd;
     --azul: #7BA4FC;
     --azul-escuro: #5081FB;
     --azul-marinho: #051D3B;
     
     --input-background: #FFFFFF29;

     --font-titulo-grande: 2rem;
     --font-titulo-pequeno: 1.3rem;

     --font-body-grande: 1.5rem;
     --font-body-pequeno: 1rem;

     --font-sidebar-grande: 1.2rem;
     --font-sidebar-pequena: 0.75rem;

     --sombra: 0px 16px 10px rgba(0,0,0,0.24);
}


/* ================ Padrão ================ */

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--azul-marinho);
    color: white;
}

.container {
    padding: 2rem;
}

.input {
    background-color: var(--input-background);
    border: none;
    font-size: .875rem;
    color: white;
    border-radius: .5rem;
    padding: 1rem .875rem;
    width: 272px;
    box-sizing: border-box;
}

.input:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.input::placeholder {
    color: rgba(255, 255, 255, .64);
}

.titulo__sidebar {
    font-size: var(--font-sidebar-pequena);
    letter-spacing: .4rem;
    text-transform: uppercase;
}

.button:hover {
    background-color: #7BA4FC;
    color: white;
}

.button:focus {
    background-color: #96B9FD;
}

.button:active {
    border: 4px solid #5081FBB8;
    background-color: #7BA4FC;
    padding: calc(.75rem);
}