.conteudo__principal {
    display: flex;
    flex-direction: column;
}

.conteudo__principal--background{
    width: 752px;
    height: 366px;
    background-color: #6BD1FF;
    border-radius: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.conteudo__principal--tela {
    background-color: black;
    width: 688px;
    height: 302px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, .24);
}

.conteudo__principal--mac {
    margin-bottom: 1.5rem;
}

.conteudo__principal--codigo {
    width: 656px;
    height: 234px;
    box-sizing: border-box;
    resize: none;
    background-color: black;
    color: white;
    border: none;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;

}

.conteudo__principal--botao {
    height: 56px;
    background-color: rgba(80, 129, 251, 0.16);
    border: none;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}
