@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Roboto:wght@100;400;500;700&display=swap');

body {
    background: #051D3B;
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.cabecalho__input {
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background-color: #FFFFFF29;
    color: white;
    border: none;
    padding: 16px 14px;
}

.cabecalho__link--perfil {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: flex-end;
    align-items: center;  
}

.cabecalho__perfil--img {
    margin-right: 8px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    padding: 16px;
}

main p {
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    gap: 8px;
}

main .menu ul {
    margin-left: 10px;
}

main .menu li {
    margin-top: 16px;
    list-style: none;
}



main .menu a {
    text-decoration: none;
    color: white;
}

main .menu i {
    padding: 16px 14px;
    background: #5081FB29;
    margin-right: 16px;
    border-radius: 16px;
    color: rgba(255, 255, 255, 0.5);
}

#active {
    background: #5081FB;
    color: white;
}

.editor {
    width: 752px;
    height: 366px;
    padding: 32px;
    background: #6BD1FF;
    border-radius: 8px;
    box-sizing: border-box;
    
}

.ball {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    top: -25px;
}

#bola-vermelha {
    background: #FF5F56;
}

#bola-amarela {
    background: #FFBD2E;
}

#bola-verde {
    background: #27C93F;
}

.editor .code {
    background: #141414;
    width: 688px;
    height: 302px;
    padding: 42px 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

#textarea {
    resize: none;
    width: 656px;
    height: 233px;
    color: white;
    background: #141414;
    border: none;
    outline: none;
    font-size: 14px;
}

.highlight {
    width: 752px;
    height: 56px;
    border: none;
    margin-top: 32px;
    border-radius: 8px;
    color: white;
    background: #5081FB29;
    font-size: 16px;
    cursor: pointer;
}

.seu-projeto {
    display: grid;
    justify-content: flex-end;
}

.dados-projeto-titulo {
    margin-bottom: 8px;
}

.dados-projeto {
    display: grid;
    gap: 16px;
    
}

.dados-projeto .nome-projeto, textarea {
    width: 272px;
    height: 56px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
}


.nome-projeto {
    background-color: #FFFFFF29 ;
    color: white;
    padding: 16px 14px;
}

.descricao-projeto {
    background-color: #FFFFFF29;
    padding: 16px 14px;
    border: none;
    resize: none;
    color: white;
    border-radius: 8px;
    width: 272px;
    height: 80px;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.personalizacao {
    margin-bottom: 8px;
}

.dados-projeto__linguagem {
    width: 272px;
    height: 56px;
    border-radius: 8px;
    border: none;
    padding: 16px 14px;
    background: rgb(45, 65, 91);
    color: rgba(255, 255, 255, 0.64);
    font-weight: 400;

}

.dados-cor {
    padding: 8px;
    border-radius: 4px;
    background: #051D3B;
    height: 56px;
    width: 272px;
}

.botao-salvar {

    width: 272px;
    height: 56px;
    border-radius: 8px;
    border:none;
    color: #051D3B;
    background: #5081FB;
}