/*============== HEADER ==============*/
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #f9f9f9;
    padding: 0 2rem 0 2rem;
}

/*============== LOGO ==============*/

.logo__header {
    object-fit: cover;
}

/*============== NAVEGAÇÃO ==============*/

.menu__itens {
    display: flex;
}

.menu__item {
    list-style: none;
    margin-right: 1.25rem;
}

.menu__item-link {
    color: #808080;
    text-decoration: none;

}

.menu__item-ativo {
    color: #333333;
    font-weight: bold;
}

.menu__item-link:hover {
    text-decoration: underline;
}

/*============== Banner ==============*/

.banner {
    position: relative;
}

.banner__img {
    background: url(../img/banner.jpg) no-repeat center / cover;
    width: 100%;
}

.banner__title {
    font-family: Pacifico, cursive;
    color: #fdfdfd;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

/*============== Sobre ==============*/
.sobre {
    margin-top: 0;
    text-align: center;
}

.sobre__title {
    font-family: Pacifico, cursive;
    color: #8d0606;
}

.sobre__text {
    color: #595959;
    font-weight: 100;
}

/*============== RECEITAS ==============*/
.receitas {
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}

.receita {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.receita__imagem {
    height: 200px;
    object-fit: cover;
}

.receita__conteudo {
    padding: 1rem;
}

.receita__titulo {
    font-size: 1.4375rem;
}

.receita__descricao {
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.receita__botao {
    background-color: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .3s;

}

.receita__botao:hover {
    background-color: #620404;
    cursor: pointer;
}

/*============== Quem Somos ==============*/

.quem-somos {
    text-align: center;
    padding: 5rem;
}

.quem-somos__titulo {
    color: #8d0606;
    font-size: 3.1875rem;
    font-family: Pacifico, cursive;
    margin-bottom: 1rem;
}

.quem-somos__descricao {
    color: #595959;
    font-weight: 100;
    font-size: 1.75rem;
}

.pessoas {
    display: flex;
    justify-content: space-around;
}

.pessoa {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

}

.pessoa__imagem {
    border-radius: 100%;
    background: no-repeat center / cover;
    height: 200px;
    margin: 0 auto;
    width: 200px;

}

.pessoa__imagem--roberta {
    background-image: url('../img/pessoas/roberta.jpg');
}

.pessoa__imagem--marcela {
    background-image: url('../img/pessoas/marcela.jpg');
}

.pessoa__imagem--andreia {
    background-image: url('../img/pessoas/andreia.jpg');
}

.pessoa__nome {
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 2rem;
    margin: 1rem 0;
}

.pessoa__funcao {
    text-transform: lowercase;
    color: #595959;
    font-size: 1.25rem;
}

/*============== Footer ==============*/
.rodape {
    background-color: #bfbfbf;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
}

@media screen and (min-width: 0) {
    .cabecalho {
        justify-content: center;
        padding: 0 1rem;
    }

    .logo__header {
        display: none;
    }

    .banner__title {
        font-size: 3rem;
    }

    .banner__img {
        height: calc(100vh - 51px);
    }

    .sobre {
        padding: 2.5rem 1rem;
    }

    .sobre__title {
        font-size: 2rem;
    }

    .sobre__text {
        font-size: 1.3rem;
    }

    .receitas {
        padding: 5rem 0 0 1rem;
    }
    
    .receita {
        width: 100%;
        margin-right: 1rem;
    }

    .pessoas {
        flex-direction: column;
    }

    .pessoa {
        margin-bottom: 2rem;
    }
}


@media screen and (min-width: 768px) {
    .cabecalho {
        justify-content: space-between;
        padding: 0 5rem;
    }

    .logo__header {
        display: block;
    }

    .banner__title {
        font-size: 5.0625rem;
    }

    .banner__img {
        height: calc(100vh - 72px);
    }

    .sobre {
        padding: 2.5rem;
    }

    .sobre__title {
        font-size: 3.1875rem;
    }

    .sobre__text {
        font-size: 1.75rem;
    }
    
    .receitas {
        padding: 5rem 0 0 2.5rem;
    }

    .receita {
        margin-right: 2.5rem;
        width: calc(33.33% - 2.5rem);
    }
    .pessoas {
        flex-direction: row;
    }
    .pessoa {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 992px) {
    .receitas {
        padding: 5rem 0 0 5rem;
    }

    .receita {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}