/*============== HEADER ==============*/

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #f9f9f9;
    padding: 0 2rem 0 2rem;
}

/*============== LOGO ==============*/

.logo__header {
    object-fit: cover;
}

/*============== NAVEGAÇÃO ==============*/

.menu__itens {
    display: flex;
}

.menu__item {
    list-style: none;
    margin-right: 1.25rem;
}

.menu__item-link {
    color: #808080;
    text-decoration: none;
    
}

.menu__item-ativo {
    color: #333333;
    font-weight: bold;
}

.menu__item-link:hover {
    text-decoration: underline;
}

/*============== NAVEGAÇÃO ==============*/

.banner {
    position: relative;
}

.banner__img {
    width: 100%;
    height: calc(100vh - 72px);
}

.banner__title {
    font-family: Pacifico, cursive;
    color: #fdfdfd;
    font-size: 5.0625rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sobre {
    margin-top: 0;
    padding: 2.5rem;
    text-align: center;
}

.sobre__title {
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
    color: #8d0606;
}

.sobre__text {
    font-size: 1.75rem;
    color: #595959;
    font-weight: 100;
}

.receitas {
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}

.receita {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: calc(25% - 5rem);
}

.receita__imagem {
    height: 200px;
    object-fit: cover;
}

.receita__conteudo{
    padding: 1rem;
}

.receita__titulo {
    font-size: 1.4375rem;
}

.receita__descricao {
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.receita__botao {
    background-color: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .3s;
    
}

.receita__botao:hover {
    background-color: #620404;
    cursor: pointer;
}